<h1>Hairstyles</h1>

<% @hairstyle_list.styles.each_with_index do |style, index| %>
  <div class="hairstyle">
    <div class="hairstyle-properties">
      Hair colour: <%= style.colour.titleize %><br />
      Part: <%= style.part.titleize %><br />
      Style: <%= style.style.titleize %><br />
      Length: <%= style.length.titleize %>
    </div>

    <div class="hairstyle-links">
      <% unless index == 0 %>
        <%= link_to "Move up", hairstyle_list_path(@hairstyle_list, style_id: style.id, direction: :up), method: :put %>
      <% end %>
      <% unless index == @hairstyle_list.styles.count - 1 %>
        <%= link_to "Move down", hairstyle_list_path(@hairstyle_list, style_id: style.id, direction: :down), method: :put %>
      <% end %>
    </div>
  </div>
<% end %>
